@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=PT+Sans:ital@1&display=swap");

.aboutH1{
  text-align: center;
  font-family:'EB Garamond', serif;
  color:black
}

.aboutDiv{
  text-align: center;
  margin: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
#container {
  display: flex;
  justify-content: space-between; 

}

.aboutRow{
  width: 1400px;
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.aboutCard{
  width:420px !important;
  height:700px;
  background-color: rgb(38, 37, 37);
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 4%;
  border-color: red;
}

.cardImg{
width: 270px !important;
height: 270px !important;
border-radius: 50%;
margin: 10px;
}

.cardSocial{
  display:flex;
  justify-content: center;

}

.cardSocial h2{
  margin: 5px 1rem;
  color: white;
}

.cardTextDiv{
  overflow: scroll;
  height: 50%;
}