.homeContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#searchBar {
    color: white;
}

.searchDiv {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 15px;
    margin: 10rem -6rem 4rem 0 !important;
    z-index: 9;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.searchDiv > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.searchDiv > .MuiButtonBase-root {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.MuiPaper-rounded {
    padding-left: 16px;
    width: 480px;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(-225deg,
            #ac32e3 10%,
            #7918f2 60%,
            #4801ff 100%) !important;
    color: white;
    font-size: 1.5rem;
}

@media (max-width:1370px) {
    .rec-pagination {
        display: none !important;
    }

     .searchDiv {
        top: 100px;
     }

     .searchDiv > .MuiButtonBase-root {
        background-color: rgb(0, 0, 0);
    }

    .searchDiv > .MuiButtonBase-root:hover {
        background-color: rgb(44, 49, 58);
    }

}
