.nftForm {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.modal-content {
    padding: 1rem;
    padding-top: 2rem;
    background-color: rgb(72, 70, 70);
}

.options-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.options-panel .MuiButtonBase-root {
    margin: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options-panel .MuiButtonBase-root {
    background-color: rgb(31, 36, 39) !important;
}

.icon-button {
    padding: 0.5rem 1.25rem !important;
}

.canvas-brush {
    cursor: url('./brush.png'), auto;
}

.canvas-eraser {
    cursor: url('./pencil.png'), auto;
}

.separator {
    flex-grow: 1;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.canvas-dimmer {
    height: 100%;
}

#red-ink {
    background-color: #e2503d !important;
}

#pink-ink {
    background-color: #ca5db9 !important;
}

#blue-ink {
    background-color: #256cde !important;
}

#yellow-ink {
    background-color: #f1f366 !important;
}

#green-ink {
    background-color: #82f366 !important;
}

#black-ink {
    background-color: #1f1f1f !important;
}

#minNftBtn {
    background: linear-gradient(-225deg,
            #ac32e3 10%,
            #7918f2 60%,
            #4801ff 100%) !important;
    margin: 1rem 0;
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 3px;
    color: white;
    height: 48;
    padding: 0 30px;
}

#input {
    background-color: rgb(200, 195, 195);
    border: 1px solid rgb(200, 195, 195);
}

.sketching {
    width: 50vw;
}