.nftCarousel {
  width: 90% !important;
  margin: 0;
}

.nftDiv {
  margin: auto;
  display: flex;
  justify-content: center;
}

.rec-arrow-left,
.rec-arrow-right {
  background-color: rgb(11, 25, 41) !important;

}

.nftImgC {
  width: 300px;
  height: 300px;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  filter: hue-rotate(90deg);
}

#cardDiv div {
  display: flex;
  flex-direction: row;
}

#label {
  color: rgb(11, 25, 41);
}

