#walletIMG {
  height: 150px;
  width: 150px;
}

.walletDrawer {
  height: 100vh;
  overflow: scroll;
}

#walletTitle {
  color: rgb(15, 35, 57);
  font-weight: solid;
  text-shadow: 0.5px 0.5px #7918f2;
}

.walletCont {
  width: 100%;
  height: 80vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.itemDiv {
  border-bottom: 2px solid silver;
  width: 80%;
  display: flex;
}

.itemDiv img {
  margin: 2rem 1rem;
  border-radius: 3px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3), 0 7px 9px rgba(0, 0, 0, 0.22);
}

.itemDesc {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#btnDiv {
  background: linear-gradient(-225deg,
      #ac32e3 10%,
      #7918f2 60%,
      #4801ff 100%) !important;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 5%;
}

#itemBtn {
  margin: 3px;
  width: 100%;
  background-color: rgb(54, 52, 52);
  border: none;
  border-radius: 5%;
  color:
}

#itemBtn:hover {
  background: linear-gradient(-225deg,
      #ac32e3 10%,
      #7918f2 60%,
      #4801ff 100%) !important;
}


#checkoutBtn {
  background: linear-gradient(-225deg,
      #ac32e3 10%,
      #7918f2 60%,
      #4801ff 100%) !important;
  margin: 10px;
  width: 50%;
  height: 3rem;
  border: 0;
  border-radius: 3px;
  color: white;
  height: 48;
  padding: 0 30px;
}



@media (max-width: 600px) {
  .MuiModal-root .MuiPaper-root {
    width: 75% !important;
    background-color: yellow;
  }

  #checkoutBtn {
    width: 80%
  }

  .itemDesc {
    margin: none;
    align-items: left;
    width: 50%;
  }

  .itemDesc p {
    text-align: left;
  }

  #walletIMG {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .itemDiv {
    width: 85%;
  }
}