.watchLstCont {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.watchLstCont h1 {
    text-align: center;
    margin: 0;
}